{% extends 'kolbweblib/base.html' %}

{% block body %}
    {% if mensaje %}
        <h1>{{mensaje}}</h1>
        <br>
        <h5>{{version}}</h5>
    {% endif %}
    {% if funcionalidades %}
        <h2>Funcionalidades de esta versión</h2>
        <ul style="list-style-type:dash">
            {% for func in funcionalidades %}
                 <li>{{func}}</li>
            {% endfor %}
        </ul>
    {% else %}
        <h3>(Funcionalidades por documentar).</h3>
    {% endif %}
{% endblock %}
