{% extends 'usuarios/base.html' %}
{% load widget_tweaks %}
{% block title %}Editar usuario{% endblock %}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'usuarios/reglog.css' %}"/>

{% block body %}

<div class="container" id="wrap">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form action="" method="post" accept-charset="utf-8" class="form" role="form">
                <h3>Editar</h3>
                {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                {% endif %}
                {% csrf_token %}
                <div class="form-group {%if form.username.errors %}has-error{%endif%}">
                {{ form.username|add_class:"form-control input-lg" }}
                {% if form.username.errors %}
                {% for error in form.username.errors %}
                <div class="alert alert-danger">
                    <strong>Error</strong> {{ error }}
                </div>
                {% endfor %}
                {% endif %}
                </div>
                <div class="row">
                    <div class="col-xs-6 col-md-6 form-group {%if form.first_name.errors %}has-error{%endif%}">
                        {{ form.first_name|add_class:"form-control input-lg" }}
                        {% if form.first_name.errors %}
                        {% for error in form.first_name.errors %}
                        <div class="alert alert-danger">
                            <strong>Error</strong> {{ error }}
                        </div>
                        {% endfor %}
                        {% endif %}
                    </div>
                    <div class="col-xs-6 col-md-6 form-group {%if form.last_name.errors %}has-error{%endif%}">
                        {{ form.last_name|add_class:"form-control input-lg" }}
                        {% if form.last_name.errors %}
                        {% for error in form.last_name.errors %}
                        <div class="alert alert-danger">
                            <strong>Error</strong> {{ error }}
                        </div>
                        {% endfor %}
                        {% endif %}
                    </div>
                </div>
                <div class="form-group {%if form.email.errors %}has-error{%endif%}">
                    {{ form.email|add_class:"form-control input-lg" }}
                    {% if form.email.errors %}
                    {% for error in form.email.errors %}
                    <div class="alert alert-danger">
                        <strong>Error</strong> {{ error }}
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>
                <button class="btn btn-lg btn-primary btn-block signup-btn" type="submit">
                    Guardar cambios</button>
            </form>

          </div>

    </div>
</div>

{% endblock %}