{% extends 'usuarios/base.html' %}
{% block title %}Inicia Sesión{% endblock %}
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'usuarios/reglog.css' %}"/>
{% block login_activo %}active{% endblock %}

{% block body %}

<div class="container" id="wrap">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <form action="" method="post" accept-charset="utf-8" class="form" role="form">
                <h3>Inicia Sesión</h3>
                <h4>¡Aprende mejor y más rápido!</h4>
                {% csrf_token %}
                <div class="form-group {%if error_message %}has-error{%endif%}">
                    <input type="text" name="username" value="" class="form-control input-lg"
                           placeholder="Tu nombre de usuario"  />
                </div>
                <div class="form-group {%if error_message %}has-error{%endif%}">
                    <input type="password" name="password1" value="" class="form-control input-lg"
                           placeholder="Tu contraseña"/>
                {% if error_message %}
                <div class="alert alert-danger">
                    <strong>Error</strong> {{ error_message }}
                </div>
                {% endif %}
                </div>
                <button class="btn btn-lg btn-primary btn-block signup-btn" type="submit">
                    Iniciar sesión</button>
            </form>
            <div>
                ¿No tienes una cuenta? <a href="{% url 'usuarios:registro' %}">Haz click aquí.</a> para registrarte.
            </div>

          </div>

    </div>
</div>


{% endblock %}